.constructions__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.constructions__item {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: solid 1px var(--dark-blue);
    border-radius: 10px;
}

.constructions__item h3 {
    margin-top: 2rem;
}

.constructions__item p {
    margin-bottom: 2rem;
}

.constructions__price {
    margin: auto 0 0;
    font-weight: 700;
}

.constructions__btn {
    align-self: stretch;
    min-width: auto;
    margin: 2rem 0 0;
}

@media (max-width: 991px) {
    .constructions__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .constructions__item h3 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .constructions__item p {
        margin: 1rem 0;
    }

    .constructions__btn {
        margin-top: 1.5rem;
    }
}

@media (max-width: 767px) {
    .constructions__list {
        gap: 1rem;
    }
    .constructions__item img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .constructions__list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .constructions__item img {
        width: 90px;
        height: 90px;
    }
}
